@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  font-family: 'Roboro', sans-serif;
}

body {
  background: #0f0f0f;
}

.bar {
  background: #264653;
  color: white;

  width: 20em;
  height: 2em;
  margin: .5em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.bar label {
  z-index: 10;
}

.bar .bar-inner {
  z-index: 5;

  background: #2A9D8F;
  height: 100%;

  position: absolute;
  top: 0em;
  left: 0em;
  bottom: 0em;



  transition: width 0.2s;

  border-radius: 4px;
}